

.loginButton {
  appearance: none;
  border: none;
  background-color: #0077b6;
  color: #48cae4;
  border-radius: 8px;
  padding: 10px 22px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
    opacity: 0.6;
}
